@navigation__background: #fff;

& when (@media-common = true) {

    /* ---------- Header ------------*/
    .page-header {
        .panel.wrapper {
            display: none;
        }
        .header.content {
            .logo {
                left: 50%;
                top: 50%;
                transform: translate(-50%, 0%);
            }
            .header.links {
                position: relative;
                float: right;
            }
            .contact,
            .authorization-link {
                display: none;
            }
        }
    }
    /* ---------- End Header ------------*/

    /* ---------- Footer ------------*/
    .page-footer {
        .footer.content {
            .footer-container {
                width: 100%;
                .footer {
                    .copy,
                    .service,
                    .feature {
                        float: left;
                        width: 100%;
                        text-align: center;
                        h5 {
                            font-size: 16px;
                            font-weight: 700;
                            color: #090909;
                            font-family: @font-family__fugue;
                            text-transform: uppercase;
                        }
                    }
                    .feature {
                        &__col {
                            &__left,
                            &__right {
                               float: left;
                               width: 100%;
                               text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    /* ---------- End Footer ------------*/

    /* ---------- Main ------------*/
    .page-main {

    }
    /* ---------- End Main ------------*/

}

/*--------------------Reponsive screen max = 768px ------------*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

/*--------------------Reponsive screen min = 768px ------------*/
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    /* ---------- Header ------------*/
    .page-header {
        .panel.wrapper {
            display: block;
            background-color: #fff;
            .header.panel {
                > .header.links {
                    display: none;
                }
                .sale-item {
                    float: left;
                    width: 33.3%;
                    text-align: center;

                    font-size: 16px;
                    color: #242424;
                    font-family: @font-family__fugue;
                    text-transform: uppercase;
                    p{
                        margin: 0;
                    }
                }
            }
        }
        .header.content {
            .block-search {
                float: left;
                transform: translate(-150%, 0);
            }
            .contact,
            .authorization-link {
                display: block;
                position: relative;
                float: right;
                list-style: none;
                a{
                    color: black;
                    font-size: 14px;
                    letter-spacing: 1px;
                    color: #0e0e0e;
                    font-family: @font-family__fugue;
                }
            }
            .contact {
                padding-right: 20px;
            }
        }
    }
    /* ---------- End Header ------------*/

    /* ---------- NAV ------------*/
    .nav-sections-item-content {
        > .navigation {
            >ul {
                display: flex;
                justify-content: space-between;
                >li {
                    a span {
                        text-transform: uppercase;
                        font-size: 16px;
                        letter-spacing: 1px;
                        color: #000;
                        font-weight: 700;
                        font-family: @font-family__gt-fectra-fine;
                    }
                }
            }
        }
    }
    /* ---------- End NAV ------------*/

     /* ---------- Footer ------------*/
     .page-footer {
        background-color: #fff;
        .footer.content {
            .footer-container {
                width: 100%;
                .footer {
                    .copy,
                    .service,
                    .feature {
                        width: 33.3%;
                    }
                    .feature {
                        &__col {
                            &__left,
                            &__right {
                               float: left;
                               width: 50%;
                            }
                        }
                    }
                }
            }
            .block {
                float: none;
                .contact {
                    width: 50%;
                    float: left;
                }
                .newsletter-child {
                    width: 50%;
                    float: right;
                }
            }
            .block.newsletter {
                width: 100%;
                max-width: 100%;
            }
        }
    }
    /* ---------- End Footer ------------*/

    
}
