& when (@media-common = true) {
    .banner-main {
        position: relative;
        p:first-child {
            img {
                height: auto;
            }
        }
        &__content {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            text-align: center;
            h3{
                text-transform: uppercase;
                color: #212121;
                font-weight: 300;
                font-family: @font-family-name__opensans;
            }
            .shop-now-button {
                padding: 10px 25px;
            }
        }
    }
    .main-mkod {
        .content-layout (1360px);
        h3 {
            font-size: 36px;
            color: #212121;
            font-weight: 400;
            font-family: @font-family-name__opensans;
            text-transform: uppercase;
            text-align: center;
            padding: 25px 10px;
        }
        &__feature-products {
            padding-top: 15px;
            &__item {
                &-1,
                &-2,
                &-3 {
                    text-align: center;
                    float: left;
                    width: 33.3%;
                    position: relative;
                    .frame {
                        overflow: hidden;
                        &__image:hover {
                            transform: scale(1.1);
                            transition-duration: 3s;
                        }
                    }
                    &__content {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        text-align: center;
                        >a {
                            text-decoration-line: none;
                        }
                        p:first-child {
                            line-height: 48px;
                            font-size: 48px;
                            color: #fff;
                            font-family: @font-family__fugue;
                        }
                        p:last-child {
                            >a {
                                font-size: 30px;
                                text-transform: uppercase;
                                color: #fdd9d0;
                                font-family: @font-family__fugue;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                &-1 {
                    &__content {
                        p:first-child {
                            line-height: 40px;
                            margin-top: -5px;
                        }
                        p:last-child {
                            >a {
                                position: relative;
                                top: 11px;
                                left: -10px;
                            }
                        }
                    }
                }
                &-3 {
                    &__content {
                        p:first-child {
                            position: relative;
                            left: 3px;
                        }
                        p:last-child {
                            >a {
                                position: relative;
                                top: 14px;
                            }
                        }
                    }
                }
            }
            .clearfix;
        }
        .clearfix;
    }
    .trend-mkod {
        .content-layout (1390px);
        .trending {
            text-align: center;
            text-transform: uppercase;
            color: #212121;
            font-weight: 400;
            font-family: @font-family-name__opensans;
        }
    }
}

/*--------------------Reponsive screen max = 768px ------------*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .banner-main {
        overflow: hidden;
        p:first-child {
            img {
                transform: scale(1.14);
            }
        }
        &__content {
            top: 48%;
            >h3 {
                line-height: 45px;
                font-size: 47px;
                letter-spacing: .5px;
                margin-top: 4px;
            }
            >p {
                position: relative;
                transform: translate(-1.5%, 67%);
            }
        }
    }
    .main-mkod {
        h3 {
            margin-left: 11px;
            margin-bottom: 0;
        }
        &__feature-products {     
            &__item {
                &-1,
                &-2,
                &-3 {
                    img {
                        margin: auto;
                        padding-left: 15px;
                    }
                    &__content {
                        transform: translate(-49%, -46%);
                    }
                }
            }
        }
    }
    .trend-mkod {
        .trending {
            padding: 45px 5px 38px 0px;
            font-size: 36px;
        }
        .block.widget.block-new-products {
            .product-image-container {
                padding: 0 0 0 20px;
                width: 71% @im;
                .product-image-wrapper {
                    .product-image-photo {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .product-items {
                .product-item {
                    .product-item-info {
                        .product-item-details{
                            .product-item-name {
                                font-size: 30px;
                                letter-spacing: -1.3px;
                                padding: 6px 0px 0 3px;
                                p {
                                    position: relative;
                                    top: -6px;
                                }
                            }
                            .price {
                                font-size: 31px;
                                padding: 0 0 0 22px;
                                top: -6px;
                                position: relative;
                            }
                            .product-item-actions {
                                .actions-view {
                                    a {
                                        font-size: 23px;
                                        position: relative;
                                        top: -1px;
                                        letter-spacing: -1px;
                                        left: 13px;
                                    }
                                }
                                .none {
                                    position: relative;
                                    top: 6px;
                                    letter-spacing: -1px;
                                    left: 4px;
                                }
                                .actions-primary {
                                    position: relative;
                                    top: 4px;
                                    left: -5px;
                                    button {
                                        span {
                                            font-size: 22px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*--------------------Reponsive screen max = 640 ------------*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .main-mkod {
        h3 {
            margin-left: 0;
        }
        &__feature-products {
            &__item {
                &-1,
                &-2,
                &-3 {
                    img {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

/*--------------------Reponsive screen max = 480 ------------*/
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .banner-main {
        &__content {
            > h3{
                font-size: 26px;
            }
            p {
                transform: translate(-1.5%, -4%);
            }
        }
    }
    .trend-mkod {
        .product-item-name {
            >a, >p{
                font-size: 22px;
            }
        }
        .price-box {
            .price {
                font-size: 24px;
            }
        }
    }
}

/*--------------------Reponsive screen min = 768px ------------*/
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .banner-main {
        &__content {
            >h3 {
                font-size: 72px;
                letter-spacing: 0;
                margin: 16px 42px 0 0px;
            }
            >p {
                position: relative;
                transform: translate(1px, 33px);                
            }
        }
    }
    .main-mkod {
        &__feature-products {
            &__item {
                &-1,
                &-2,
                &-3 {
                    max-width: none;
                    img {
                        width: 90%;
                        padding: 5%;
                    }
                    &__content {
                        transform: translate(-50%, -50%);
                    }
                }
                &-1 {
                    text-align: left;
                }
                &-3 {
                    text-align: right;
                }
            }
        }
    }
    .trend-mkod {
        .trending {
            font-size: 36px;
            padding: 36px 0 42px 7px;
        }
    }
}

/*--------------------Reponsive screen min = 1440px ------------*/
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .main-mkod {
        &__feature-products {
            &__item {
                &-1,
                &-2,
                &-3 {
                    max-width: 400px;
                    img {
                        width: 100%;
                        padding: 0;
                    }
                }
                &-1 {
                    &__content {
                        padding: 0px 27px 0px 0;
                    }
                    padding-right: 40px;
                }
                &-2 {
                    &__content {
                        padding: 18px 0 0 7px;
                    }
                    padding: 0 20px;
                }
                &-3 {
                    &__content {
                        padding: 19px 0 0 37px;
                    }
                    padding-left: 40px;
                }
            }
        }
    }
}