& when (@media-common =true) {
    .page-title-wrapper {
        .lib-css(text-align, center);
        .lib-css(background-color, #fadcdc);


        h1 {
            .lib-css(margin, 0 0 13px 0);

            span {
                .lib-css(font-family, @font-family__fugue);
                .lib-css(color, @color-61);
                .lib-css(font-size, 24px);
                .lib-css(line-height, 14px);
                .lib-css(text-transform, uppercase);
                .lib-css(letter-spacing, 0.7px);
            }
        }

        .list-banner {

            .lib-css(font-family, @font-family__fugue);
            .lib-css(font-size, 18px);
            .lib-css(color, @color-cate-desc);
            .lib-css(line-height, 22px);

            p {
                .lib-css(margin, 0 -8px 0 0);
            }


        }
    }

    .product.details.product-item-details {
        .lib-css(font-size, 16px);
        .lib-css(font-family, @font-family__opensans);
        .lib-css(color, #212121);
        .lib-css(font-weight, #400);
        .lib-css(text-align, center);
        .lib-css(text-transform, capitalize);

        a {
            text-decoration: none;
            .lib-css(color, #212121);

        }

        .product-item-name {
            margin: 12px 0 -3px 0;
            word-spacing: -2px;

            a {
                letter-spacing: 0.49px;
            }
        }

        .price-box {
            margin: 3px 0 6px 0;
        }

        .price {
            font-size: 18px;
            font-weight: 400;

        }

        .price-label {
            display: none;
        }

        .product-item-inner {
            display: none
        }
    }

    .products-grid .product-item-info:hover {
        padding: 0;
        margin: -5px 0 0 0;
    }

    .product-item-info {
        .view-buy {
            .lib-css(font-size, 12px);
            .lib-css(font-family, @font-family__opensans);
            .lib-css(color, #212121);
            .lib-css(font-weight, 400);
            display: flex;
            justify-content: center;

            .view {
                border-right: 1px solid;
                padding: 0 12px 0 0;

            }

            button.buy {
                padding: 0 0 0 12px;
                .lib-css(color, #ff97cd);
                .lib-css(font-weight, 400);
                border: unset;
                background: unset;
            }
        }
    }

    .page-layout-1column .products~.toolbar-products {
        display: none;
    }

    .page-products .columns {
        padding-top: unset;
    }

}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .page-title-wrapper {
        .lib-css(padding, 33px 0 18px 2px);

        .list-banner {
            .content-layout(1360px);
        }
    }

    .page-layout-1column .product.media {
        width: 45%;
    }

    .page-layout-1column .product-info-main {
        width: 55%;
    }

    .columns {
        li.item.product.product-item {
            padding: 0 0 26px 0;
        }
    }

    .products.wrapper.grid.products-grid {
        .content-layout(1408px);
    }

    .page-products .product-item-info {
        width: 250px;

    }

    ol.products.list.items.product-items {
        margin: -2px 0 0 30px;
    }

    .toolbar.toolbar-products {
        position: absolute;
        top: 0;
        max-width: unset;
        right: unset;

        .modes {
            right: 11%;
            top: 45px;
        }

        .toolbar-sorter.sorter {
            left: 11%;
            top: 45px;
            right: unset;

        }
    }
    .block.filter{
        z-index: 5;
        max-width: 64px;
        width: auto;
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {

    .page-title-wrapper {
        margin: -17px 0 0 0;
        padding: 47px 75px 48px 65px;

        .list-banner {
            padding: 23px 27px 0 20px;
            margin: 0 0 0 -7px;
        }
    }

    .toolbar.toolbar-products {
        float: right;
        margin: 20px 35px 0 0;
        .modes {
            display: block;
            margin: 8px 34% 0 0;

            span {
                display: none;
            }

            .mode-grid::before {
                margin: 0 27px 0 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 26px;
                line-height: inherit;
                color: #7d7d7d;
                content: '\e60d';
                font-family: 'luma-icons';
                vertical-align: middle;
                display: inline-block;
                font-weight: normal;
                overflow: hidden;
                speak: none;
                text-align: center;
            }

            .mode-list::before {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 26px;
                line-height: inherit;
                color: #7d7d7d;
                content: '\e60b';
                font-family: 'luma-icons';
                vertical-align: middle;
                display: inline-block;
                font-weight: normal;
                overflow: hidden;
                speak: none;
                text-align: center;
            }

        }

        .sorter-options {
            display: none;
        }
    }

    .block.filter {
        margin-left: 3.5%;
        top: 12px;
        .block-title.filter-title{
            text-transform: capitalize;
            letter-spacing: 0;
        }
    }

    .products {
        margin: 104px 34px 0 56px;
        li.item.product.product-item {
            padding: 0 0 30px 0;
        }
    }
}
