& when (@media-common = true){
    .breadcrumbs{
        margin-bottom: -2px;
        padding-top: 42px;
        .items{
            width: 45%;
            margin: 0 0 0 -28px;
            .lib-css(font-size, 16px);
            .lib-css(color, #858585);
            .lib-css(font-family,@font-family__fugue);
            .lib-css(text-transform, lowercase);
            .item:not(:last-child):after{
                font-size: 24px;
                content: '/';
                margin: 0px 0px;
            }
        }
        a{
            .lib-css(color, #858585);
            word-spacing: -1px;
            letter-spacing: 0.2px
        }
        .slide-image{
            width: 55%;
            display: flex;
            justify-content: space-between;

        }
    }
    .product-detail{
        .product-info-main .product-info-price{
            display: unset;
        }
        .product-info-main .product-info-price .price-box{
            display: unset;
            width: 100%;
        }
        .product-info-main .stock.available, .product-info-main .stock.unavailable{
            text-transform: unset;
        }
        .product-info-main{
            .page-title-wrapper{
                background-color:#fff;
                .base{
                    .lib-css(font-size, 23px);
                    .lib-css(color, #0d0d0d);
                    .lib-css(font-weight, bold);
                    .lib-css(font-family,@font-family__gt-fectra-fine);
                }
            }
            .product-info-price .price-box .price-container .price{
                .lib-css(font-size, 18px);
                .lib-css(color, #676767);
            }
            .product-info-price{
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                .lib-css(border, none);
                .lib-css(font-family, @font-family__opensans);
                .lib-css(font-size, 11.5px);
                .lib-css(color, #8f8f8f);
                .lib-css(font-weight,600);
                .product-info-stock-sku{
                    text-transform: capitalize;
                    word-spacing: 2px;
                    display: unset;
                    padding:0 0 0 0;
                    text-align: center;
                    strong.type{
                        display: none;
                    }
                }
                .price-box .price-final_price{
                    display: unset;
                    width: 100%;
                    span.price-label{
                        display: none;
                    }
                }
                .stock .available{
                    text-transform: unset;
                    letter-spacing: -0.1px;
                    word-spacing: 1px;
                    span:first-child{
                        border-right: 1px solid;
                        padding:0 0 0 0;
                    }
                }
            }
            .product-social-links {
                .product-addto-links {
                    .fb,
                    .twitter,
                    .pin {
                        float: left;
                        width: auto;
                        span {
                            font-size: 14px;
                            font-weight: 600;
                            font-family: @font-family__opensans;
                            color: #333;
                        }
                    }
                    .fb {
                        padding-left: 31px;
                        i{
                            font-size: 29px;
                        }
                        span {
                            position: relative;
                            top: -7px;
                        }
                    }
                    .twitter,
                    .pin {
                        padding-left: 5px;
                        i{
                            font-size: 27px;
                        }
                        span {
                            position: relative;
                            top: -7px;
                        }
                    }
                }
                .clearfix;
            }
        }
        .product.info.detailed{
            .product.data.items {
                .title-ar {
                    font-size: 16px;
                    color: #0d0d0d;
                    font-weight: 700;
                    font-family: @font-family__opensans;
                    text-transform: uppercase;
                    content: 'thisiiscontent';
                }
                .content-ar {
                    font-size: 16px;
                    line-height: 30px;
                    color: #909090;
                    font-weight: 400;
                    font-family: @font-family__opensans;
                }

            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-detail{
        .content-layout(1356px);
        color: #212121;
        .slide-image{
            display: flex;
            float: right;
            justify-content: space-between;
            width: 46%;
            margin: -4px 88px -14px 0;
            text-transform: UPPERCASE;
            text-decoration: none;
            border-bottom: 1px solid;
            .lib-css(font-size, 12px);
            .lib-css(font-weight, 700);
            .lib-css(font-family, @font-family__opensans);
            a{
                .lib-css(color, #999999);
            }
            .prev-img{
                margin: -11px 0 12px 4px;

                a::before{
                    content: '\e617';
                    font-family: 'luma-icons';
                }
            }
            .next-img{
                margin: -11px 32px 12px 0;
                a::after{
                    content: '\e608';
                    font-family: 'luma-icons';
                }
            }
        }
        .product-info-main{
            .page-title-wrapper{
                margin: 38px 104px 0 0;
                padding-bottom: 0;
                background-color:#fff;
            }
            .product-info-price .price-box .price-container .price{
                .lib-css(font-size, 18px);
                .lib-css(color, #676767);
            }
            .product-info-price{
                margin: -13px 0 0 -43px;
                .product-info-stock-sku{
                    margin: 0 1px 0 0;
                }
                .price-box.price-final_price{
                    margin: 4px 0 -2px 11px;
                }
                .stock.available{
                    margin: -21px 0 2px 11px;
                    span:first-child{
                        border-right: 1px solid;
                        padding-right: 8px;
                    }
                    span:last-child{
                        padding: 0 0 0 7px;
                    }
                }
            }
            .product-add-form{
                margin: -63px 82px 0 0;
                text-align: center;
                position: relative;
                .product-options-wrapper{
                    .swatch-attribute-label{
                        position: absolute;
                        top: 54.5%;
                        left: 44.5%;
                        cursor: pointer;
                        text-decoration: underline;
                        .lib-css(color, #8f8f8f);
                    }
                    .swatch-attribute-options.clearfix{
                        display: flex;
                        justify-content: center;
                        margin: 10px -6px 0 0px;
                        .swatch-option.text{
                            background: white;
                            font-size: 16px;
                            border: 1px solid;
                            padding: 7.5px 8px 8px 7.5px;
                            margin: 0 8.5px 0 0;
                        }
                    }
                }
                .product-options-bottom{
                    margin: 68px 0px 0 3px;
                    .field.qty{
                        display: none;
                    }
                    .box-tocart .action.tocart{
                        width: 62.5%;
                        padding: 19px 26px 17px 14px;
                        word-spacing: 2.5px;
                        span{
                            font-size: 23px;
                        }
                    }
                }
            }
            .product.info.detailed{
                margin: -4px 0 0 36px;
                padding-right: 88px;
                .title-ar{
                    border-bottom: 1px solid #9e9e9e;
                    letter-spacing: 1.2px;
                }
                .title-ar h4::after {
                    content: '\e622';
                    font-family: 'luma-icons';
                    padding: 0 0 0 19px;
                }
                .title-ar.active h4::after {
                    content: '\e621';
                    font-family: 'luma-icons';
                    padding: 0 0 0 19px;

                }
                .content-ar{
                    border-top: 3px solid white;
                    margin: -2px 0 0 0;
                    padding: 26px 0 0 0;
                }
            }
        }
        .product.media{
            .fotorama__thumb-border{
                display: none;
            }
            .fotorama__nav.fotorama__nav--thumbs{
                margin: 8px 0 0 10px;
                .fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left .fotorama__thumb--icon{
                    left: 55%;
                    top: 52%;
                }
                .fotorama__nav__shaft{
                    display: flex;
                    justify-content: space-between;
                    .fotorama__nav__frame.fotorama__nav__frame--thumb{
                        flex: 0 0 33.333%;
                        .fotorama__thumb{
                            width: 90%;
                        }
                    }
                }
                .fotorama__nav__shaft.fotorama__grab{
                    display: flex;
                    justify-content: space-between;
                    .fotorama__nav__frame.fotorama__nav__frame--thumb{
                        flex: 0 0 33.333%;
                        .fotorama__thumb{
                            width: 90%;
                        }
                    }
                }
                .fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right .fotorama__thumb--icon{
                    left: -17%;
                    top: 54%;
                }
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .slide-image{
        display: flex;
        float: right;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 0 0;
        text-transform: UPPERCASE;
        text-decoration: none;
        .lib-css(font-size, 12px);
        .lib-css(font-weight, 700);
        .lib-css(font-family, @font-family__opensans);
        a{
            .lib-css(color, #999999);
        }
        .prev-img{
            margin: 0 0 0 10.5%;

            a::before{
                content: '\e617';
                font-family: 'luma-icons';
            }
        }
        .line-divide{
            border: 1px solid #8f8f8f;
        }
        .next-img{
            margin: 0 10.5% 0 0;
            a::after{
                content: '\e608';
                font-family: 'luma-icons';

            }
        }
    }
    .product-info-main{
        padding: 0 10.56%;
        margin-top: -150px;
        .product-add-form{
            text-align: center;
            position: relative;
            .product-options-wrapper{
    
                .swatch-attribute-label{
                    position: absolute;
                    top: 54.5%;
                    left: 44.5%;
                    cursor: pointer;
                    text-decoration: underline;
                    .lib-css(color, #8f8f8f);
                }
                .swatch-attribute-options.clearfix{
                    display: flex;
                    justify-content: center;
                    .swatch-option.text{
                        background: white;
                        font-size: 16px;
                        padding: 7.5px 8px 8px 7.5px;
                        margin: 0 8.5px 0 0;
                    }
                }
    
            }
            .product-options-bottom{
                margin: 68px 0px 0 3px;
                .field.qty{
                    display: none;
                }
                .box-tocart .action.tocart{
    
                    word-spacing: 2.5px;
                    span{
                        font-size: 23px;
                    }
                }
            }
    
        }
        .product-addto-links{
            display: flex;
            justify-content: center;
        }
    }

    .product.media{
        .fotorama__stage__frame .fotorama__img{
            left: 50%;
            max-height: 76%;
            top: 43.5%;
        }
        .fotorama__nav--dots{
            display: none;
        }
    }
}
